.JobBoardItem-container {
	border: 1px solid transparent;
    border-radius: 4px;
    padding: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    cursor: pointer;
}

.JobBoardItem-container p {
	margin-bottom: 1rem;
}

.JobBoardItem-coll {
	vertical-align: middle;
	display: inline-block;
	float: none; 
}

.JobBoardItem-title{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.JobBoardItem-category {
	font-weight: bolder;
	font-size: 10pt;
}

.JobBoardItem-company {
	font-size: 12pt;
	color: #444;
}

.JobBoardItem-minor-details {
	float: right;
}

.JobBoardItem-details-link {
	font-size: 12pt;
	color: #444;
}